{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Ваші логін і пароль не збігаються.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш акаунт не має доступу до цієї сторінки. Щоб продовжити,
        увійдіть в акаунт, який має доступ.</p>
  {% else %}
    <p>Увійдіть в акаунт, щоб побачити цю сторінку.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Увійти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>

{% endblock %}