{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Введіть та підтвердіть новий пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новий пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Підтвердіть пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Змінити мій пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Не вдалося змінити пароль</h1>
        <p>Посилання на зміну пароля було невірним, можливо тому що вже було використане. Зробіть запит на зміну пароля ще раз.</p>
    {% endif %}

{% endblock %}